<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletLogar</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.ServletLogar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogar3</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.ServletLogar3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>desativarUsuario</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.desativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ativarUsuario</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.ativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarUsuario</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.alterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarUsuarios</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.ServletListarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checarPermissao</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.checarPermissao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarNovoUsuario</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.criarNovoUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogar</servlet-name>
        <url-pattern>/ServletLogar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEncerrarSessao</servlet-name>
        <servlet-class>org.hopto.depositodivisa.servlets.ServletEncerrarSessao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEncerrarSessao</servlet-name>
        <url-pattern>/ServletEncerrarSessao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogar3</servlet-name>
        <url-pattern>/ServletLogar3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarUsuarios</servlet-name>
        <url-pattern>/ServletListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ativarUsuario</servlet-name>
        <url-pattern>/ativarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarUsuario</servlet-name>
        <url-pattern>/alterarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>desativarUsuario</servlet-name>
        <url-pattern>/desativarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checarPermissao</servlet-name>
        <url-pattern>/checarPermissao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarNovoUsuario</servlet-name>
        <url-pattern>/criarNovoUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.exception</exception-type>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/naoencontrada.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
