/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 de abr. de 2025, 16:48:17
    Author     : luiz.souza
*/
*{
    margin: 0px;
    padding: 0px;    
}

#paginatotal{
    background-color: white;
    height:100%;
    width: 100%;
/*    margin: auto;*/
    }
    
    #cabeçalho{
        height:5%;
        width:100%;
        border-bottom: solid gold 9px;
    }    
    
    #menu{
        height: 70%;
        width: 20%;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        border-right: solid black 6px;
    }
    
    #menu nav ol{
        margin-left: 20px;
        margin-top:  20px;
    }
    
    #menu nav ol li{
        list-style-type: none;
        font-size: 1.2em;
        font-family: Arial;
        color: blueviolet;
    }
    
    #menu nav ol li a{
        text-decoration: none;
        font-size: 1.2em;
        font-family: Arial;
        color: blueviolet;
    }
    
    #menu nav ol li a:hover{
        text-decoration: underline;
        background-color: yellow;
        font-size: 1.2em;
        color: black;
        font-family: Arial;
        color: blueviolet;
    }
    
    #central{
        height: 60%;
        width: 80%;
        float:right;
        border-bottom: solid white 20px;
        background-color: blue;
    }

    #rodape{
        height: 10%;
        width: 100%;
        margin-bottom: 0px;
        margin-right: 0px;
        border-top: solid white 4px;
        background-color: grey;
    }
    
    
/*    h1#texto1{
        font-size:2em;
        font-family: serif;
        color: red;
        text-shadow:
            0px 3px 0px orange,
            0px 14px 10px rgba(0,0,0,0.15),
            0px 14px 2px rgba(0,0,0,0.1),
            0px 30px 30px rgba(0,0,0,0.1);
        text-align: left;
    }
    */
/*    h1#textorodape{
        font-size:2em;
        font-family: Arial;
        color: black;
        margin-right: 0px;
        text-align: right;
    }
    */
    h1#textocabecalho{
        font-size:2em;
        font-family: Arial;
        color: black;
        text-shadow:
            0px 3px 0px white,
            0px 5px 10px rgba(0,0,0,0.15),
            0px 5px 2px rgba(0,0,0,0.1),
            0px 5px 30px rgba(0,0,0,0.1);
    }